





<% if @songs %>

	<table style='border:solid black;margin:10px;'>
		<th>Artist:</th>
		<th>Title:</th>
		<th>Add to Playlist:</th>
		<th>Number of Times Added:</th> 
		<% @songs.each do |t| %>

			<tr style='color:red;'>
			<!-- <div style='background-color:grey;border:solid green;max-width:300px;'> -->
				<td><%= t.artist %></td>
				<td><%= link_to t.title, "http://msn.com" %></td>
				<td><%= button_to "Add to Playlist", '/new_song', method: :post, params: { artist: t.artist, title:t.title} %></td>


				<td style='text-align:center;'><%=t.num_added%></td>

			</tr>



			<!-- </div> <br> -->
		<% end %>
	</table>
<% else %>
	<h1>You don't have any songs yet!</h1>
<% end %>


<br>
<br>







<% if @song && @song.errors.any? %>





	   <% brdr_color = 'border:solid red;background-color:pink;padding:1px;height:auto;width:300px' %>
      <div style='<%==brdr_color%>;'>
	      <% count = 1 %>

			<h3>Add New Song:</h3> 
	      <h1>Please fix the errors below to create a new Song.</h1>
	      <% @song.errors.full_messages.each do |t| %>
	         <h3>   <%= count %>:  <%=t %>. </h3>
	          <% count+=1 %>
	      <% end %>

	      <div style ='background-color:aliceblue;max-width:200px;'>
		<%= form_tag '/new_song' do %>
			Artist: <%= text_field_tag :artist, params[:artist] %>  <br>
			Title: <%= text_field_tag :title, params[:title] %> <br>
			<%= submit_tag %>
		<% end %>

</div>
  	</div>


<% else %>
	<div style ='background-color:aliceblue;max-width:200px;'>
	<%= form_tag '/new_song' do %>
		<h3>Add New Song:</h3> <br>
		Artist: <%= text_field_tag :artist %> <br>
		Title: <%= text_field_tag :title %> <br>
		<%= submit_tag value="Save" %>
	<% end %>
<% end %>

</div>










<!-- syntax for incremented value ie count in db -->
<!-- object = Record.where(:status => "somestatus").first
object.increment!(:value, 0.5) -->